<% if current_page?(:action=>"index") %>
<li>
	<h2>2012壬辰梅竹所有賽事 </h2>
	<ul>
		<% for status in @statuses %>
			<% unless status.games.empty? %>
			<li>
				<%=link_to status.name, :anchor=>status.id %>
			</li>
			<% end %>
		<% end %>
	</ul>
</li>
<% end %>
<li>
	<h2>為自己的學校加油！ </h2>
	<ul>		
		<li>
			<%=link_to '梅竹龐達熊', 'http://www.facebook.com/meichuwin', :target=>"_blank" %>
		</li>
		<li>
			<%=link_to '國立交通大學梅竹後援會', 'http://www.facebook.com/nctu.meichu?ref=ts', \
			:target=>"_blank" %>
		</li>
		<li>
			<%=link_to '梅竹龐達熊 Google+', 'https://plus.google.com/103356288820212098675/posts',\
			 :target=>"_blank" %>
		</li>
		<li>
			<%=link_to '國立交通大學梅竹後援會 Google+', 'https://plus.google.com/117050565485673718637/posts',\
			 :target=>"_blank" %>
		</li>
		<li>
			<%=link_to 'Google+ 為壬辰梅竹賽加油', 'http://www.gomeichu.com/', :target=>"_blank" %>
		</li>
	</ul>
</li>
<li>
	<h2>賽事轉播 </h2>
	<ul>		
		<li>
			<%=link_to '清大計通中心學習科技組', 'mms://broadcast.cc.nthu.edu.tw/live', :target=>"_blank" %>
		</li>
		<li>
			<%=link_to '清華媒體小組', 'http://media.club.nthu.edu.tw/thbsweb/', \
			:target=>"_blank" %>
		</li>
		<li>
			<%=link_to '梅籌 Google+', 'https://plus.google.com/u/0/s/%E6%A2%85%E7%AB%B9%E7%B1%8C%E5%A7%94%E6%9C%83#103246446675644237560/posts', :target=>"_blank" %>
		</li>
		<li>
			<%=link_to '交大直播網', 'http://broadcast.it.nctu.edu.tw/', \
			:target=>"_blank" %>
		</li>
		<li>
			<%=link_to 'Juiker 揪科網', 'http://watch.juiker.tw/NTHULive/', \
			:target=>"_blank" %>
		</li>

	</ul>
</li>
<li>
	<h2>帶著你的手機看梅竹！ </h2>
	<center>
	<%=image_tag 'qr_code.png' %>
	</center>
</li>
<li>
	<h2>
		支持我們一下吧！
	</h2>
	<!-- Place this tag where you want the +1 button to render -->
	<g:plusone size="tall"></g:plusone>

	<!-- Place this render call where appropriate -->
	<script type="text/javascript">
	  window.___gcfg = {lang: 'zh-TW'};

	  (function() {
	    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	    po.src = 'https://apis.google.com/js/plusone.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
</li>