<%= render :partial => "champion" %>
<% for status in @statuses %>
	<a name="<%=h status.id %>"></a>
	<% for game in status.games %>
		<div class="post"><div class="post-bgtop"><div class="post-bgbtm">
					<h2 class="title"><a href="#">
						<%= game.title%>
					</a></h2>
					<p>
						<strong><%=game.status.name %></strong>
						<%=game.date%> <%=game.time%> 於 <%=game.home.school%> <%=game.venue%>
						<% unless game.live_url.blank? %>
							[<%=link_to '轉播', game.live_url, :target=>"_blank" %>]
						<% end %> </p>
					<div class="entry">
						<% @report = Report.lastest(game.id) %>
						<% if @report %>
							<p><strong>第<%=@report.set%><%=game.set%></strong> <br />
									<% if  game.home_id = 113 %>
										交大 <%=h @report.nctu%>：清大 <%=h @report.nthu%> <br />
									<% else %>
										清大 <%=h @report.nthu%>：交大 <%=h @report.ncuu%> <br />
									<% end %>
									<%=h @report.remark %></p>
									
						<% end %>
						<% if game.winner != 0 and game.status_id == 4%>
							<p></p>
							<h3><%= Home.find(game.winner).school %> 勝利！</h3>
						<% end %>


					</div>	
		</div></div></div>
	
	<% end %>
<% end %>